
body {

	font: 400 16px / 16px "Circular Std", sans-serif;
	background-color: #fff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*:focus {

	outline: none;
}
